<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title we love acition movies!
    link(rel="stylesheet" href="/static/styles/movieIndex.css")
    script(async src='/static/scripts/moveIndex.js')
  body
    h2 é¦–é¡µ - mystrawberry.ddns.net, æ°¸ä¹…å…è´¹çš„ðŸ˜ðŸ˜ðŸ˜!
    p.listtitle
      span å½±ç‰‡åˆ—è¡¨ - ä»Žæ–°åˆ°æ—§
      button(data-order=1) ä»Žæ—§åˆ°æ–°æŽ’åº
    div.listContainer
      -
        const staticPrefix = '/static/videos'
      -
        const dates = Object.keys(movieList)
        const sortedDates = dates.sort((a, b) => new Date(b) - new Date(a))
      each item in sortedDates
        div.itemContainer(data-date=item)
          p.dateTitle= item
          .container
            -
              const thisDateList = movieList[item]
              //- console.log(thisDateList)
            each item in thisDateList
              p
                a(href=`viewloveactionmovies?view=${item.fileName}`)= `${[item.fileName]}`

    //- p 123