
p.dateTitle {
  position: sticky;
  top: 1.8em;
  background-color: #f4f4f4;
  padding: 1vw 0;
  margin: 0 0.3em;
  border-bottom: 1px solid #e5e4e4;
}
p.listtitle {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: -0.2em;
  background: #f4f4f4;
  z-index: 1;
  border-bottom: 1px solid #e5e4e4;
}
p.listtitle > span {
  line-height: 2;
}
