video {
  max-width: 100%;
}
html, body {
  padding: 0;
}
.videoContainer {
  position: relative;
}
.videoLoadingShade {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);
  transition: all .5s ease;
  /* opacity: 0; */
}
.videoLoadingSpin {
  width: 5em;
  height: 5em;
  position: absolute;
  left: calc(50% - 2.5em);
  top: calc(50% - 3.2em);
  border: 0.2em solid #d5d5d5;
  box-sizing: border-box;
  border-radius: 100%;
  border-top-color: transparent;
  animation: spin 1s ease infinite;
}
@keyframes spin {
  to {
    transform: rotate(1turn)
  }
}